{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pizza Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/gif" sizes="16x16">
    <style>
        body {
            background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/97/40/8057f0a46c7aacb.jpg");
        }

        .shade {
            box-shadow: 0 15px 30px rgba(0, 0, 0, .3) !important;
        }

        .shade1 {
            box-shadow: 0 .10rem .3rem rgba(0, 0, 0, .15) !important;
        }

        a,
        a label {
            cursor: pointer;
        }

        footer {
            position: fixed;
            height: 100px;
            bottom: 0;
            width: 100%;
        }

        .bg-4 {
            background-color: #2f2f2f;
            /* Black Gray */
            color: #fff;
        }

        .bg {
            background-color: #fff;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default" style=" background-color: #2f2f2f;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: #fff;">Pizza Store</a>
            </div>
        </div>
    </nav>

    <!-- First Container -->
    <!-- {{Payload}} -->
    <div class="container" style="margin-top: 10rem;">
        <div class="row">
            <div class="col-md-4">
                <div class=" border bg col-sm m shade">
                    <div style="padding:12px;text-align: center; background-color: #2f2f2f;color: #fff;">
                        <strong>Pizza Type</strong>
                    </div>
                    <div class="text-right" style="margin:1rem">
                        <a data-target="#add_new_pizza_type" data-toggle="modal" style="text-decoration: none; ">
                            Add New Pizza Type</a>
                        </a>
                    </div>
                    <table class="table table-dark" style="padding: 12px;" style="background-color: cornsilk;">
                        <thead class="thead">
                            <tr>
                                <th>Type</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                {% for item in Payload.pizza_type %}
                            <tr>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    <a onclick="openeditpizzatypeModel('{{item.pizza_type_id}}' ,'{{item.name}}')">
                                        <i style="font-size:18px;color:blue" class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a onclick="deletePizzaType({{item.pizza_type_id}})">
                                        <i style="font-size:18px;color:blue" class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" border bg col-sm m shade">
                    <div style="padding: 12px;text-align: center; background-color: #2f2f2f;color: #fff;">
                        <strong>Pizza Size</strong>
                    </div>
                    <div class="text-right" style="margin:1rem">
                        <a data-target="#add_new_pizza_size" data-toggle="modal" style="text-decoration: none; ">
                            Add New Pizza Size</a>
                        </a>
                    </div>
                    <table class="table table-striped" style="padding: 12px;">
                        <thead class="thead-dark">
                            <tr>
                                <th>Size</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                {% for item in Payload.pizza_size %}
                            <tr>
                                <td>
                                    {{item.pizza_size_name}}
                                </td>
                                <td>
                                    <a
                                        onclick="openeditpizzasizeModel('{{item.pizza_size_id}}' ,'{{item.pizza_size_name}}')">
                                        <i style="font-size:18px;color:blue" class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a onclick="deletePizzaSize({{item.pizza_size_id}})">
                                        <i style="font-size:18px;color:blue" class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" border bg col-sm m shade">
                    <div style="padding: 12px;text-align: center; background-color: #2f2f2f;color: #fff;">
                        <strong>Pizza Toppings</strong>
                    </div>
                    <div class="text-right" style="margin:1rem">
                        <a data-target="#add_new_pizza_topping" data-toggle="modal" style="text-decoration: none; ">
                            Add New Pizza Toppings</a>
                        </a>
                    </div>
                    <table class="table table-striped" style="padding: 12px;">
                        <thead class="thead-dark">
                            <tr>
                                <th>Toppings</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                {% for item in Payload.pizza_toppings %}
                            <tr>
                                <td>
                                    {{item.toppings}}
                                </td>
                                <td>
                                    <a
                                        onclick="openeditpizzatoppingsModel('{{item.pizza_toppings_id}}' ,'{{item.toppings}}')">
                                        <i style="font-size:18px;color:blue" class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a onclick="deletePizzaTopping({{item.pizza_toppings_id}})">
                                        <i style="font-size:18px;color:blue" class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- 
    @#########    
    This is Pizza Type Start
    @#########   -->
    <!-- The Modal for add new pizza type start -->
    <div class="modal fade" id="add_new_pizza_type">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Add New Pizza Type</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <input id="add_new_pizza_type_val" type="text" placeholder="Enter Your New Pizza Type"
                                class="form-control btn-rounded" required>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button type="button" onclick="addNewPizzType()" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal for add new pizza type end -->

    <!-- The Modal for add new pizza type start -->
    <div class="modal fade" id="edit_pizza_type">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Edit Pizza Type</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    Old Pizza Type : - <label id="pizza_type_var"></label>
                    <br>
                    <div class="row text-center">
                        <input type="hidden" id="pizza_type_id">
                        <div class="col-md-6">
                            <input id="new_edited_pizza_type" type="text" placeholder="Enter Your New Pizza Type"
                                class="form-control btn-rounded" required>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button type="button" onclick="editPizzType()" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal for add new pizza type end -->

    <!-- The Modal for add new pizza type start -->
    <div class="modal fade" id="delete_pizza_type">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Delete</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure you want to delete this record?<br>
                </div>
                <input type="hidden" id="delete_pizza_type_id" value="">
                <button type="submit" style="width:7rem;margin-left: 12rem;margin-bottom: 1rem;"
                    onclick="delete_Pizza_Type_API();" class="btn btn-primary btn-blue rounded-pill m-submit">
                    Delete
                </button>
                <button type="submit" style="width:7rem;margin-left: 12rem;margin-bottom: 1rem;"
                    class="btn btn-primary btn-blue rounded-pill m-submit" data-dismiss="modal" aria-label="Close">
                    Cancel
                </button>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
    </div>
    <!-- The Modal for add new pizza type end -->

    <!-- 
    @#########    
    This is Pizza Size
    @#########   -->

    <!-- The Modal for add new pizza Size start -->
    <div class="modal fade" id="add_new_pizza_size">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Add New Pizza Size</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <input id="add_new_pizza_size_val" type="text" placeholder="Enter Your New Pizza Size"
                                class="form-control btn-rounded" required>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button type="button" onclick="addNewPizzSize()" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal for add new pizza Size end -->

    <!-- The Modal for edit pizza size start -->
    <div class="modal fade" id="edit_pizza_size">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Edit Pizza Size</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    Old Pizza Type : - <label id="pizza_size_var"></label>
                    <br>
                    <div class="row text-center">
                        <input type="hidden" id="pizza_size_id">
                        <div class="col-md-6">
                            <input id="new_edited_pizza_size" type="text" placeholder="Enter Your New Pizza Size"
                                class="form-control btn-rounded" required>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button type="button" onclick="editPizzaSize()" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal for edit pizza size end -->

    <!-- The Modal for delete pizza size start -->
    <div class="modal fade" id="delete_pizza_size">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Delete</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure you want to delete this record?<br>
                </div>
                <input type="hidden" id="delete_pizza_size_id" value="">
                <button type="submit" style="width:7rem;margin-left: 12rem;margin-bottom: 1rem;"
                    onclick="delete_Pizza_size_API();" class="btn btn-primary btn-blue rounded-pill m-submit">
                    Delete
                </button>
                <button type="submit" style="width:7rem;margin-left: 12rem;margin-bottom: 1rem;"
                    class="btn btn-primary btn-blue rounded-pill m-submit" data-dismiss="modal" aria-label="Close">
                    Cancel
                </button>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
    </div>
    <!-- The Modal for delete pizza size end -->

    <!-- 
    @#########    
    This is Pizza Toppings
    @#########   -->

    <!-- The Modal for add new topping start -->
    <div class="modal fade" id="add_new_pizza_topping">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Add New Pizza Toppings</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <input id="add_new_pizza_toppings_val" type="text"
                                placeholder="Enter Your New Pizza Toppings" class="form-control btn-rounded" required>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button type="button" onclick="addNewPizzTopping()" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal for add new topping end -->

    <!-- The Modal for edit pizza Topping start -->
    <div class="modal fade" id="edit_pizza_topping">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Edit Pizza Topping</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    Old Pizza Type : - <label id="pizza_topping_var"></label>
                    <br>
                    <div class="row text-center">
                        <input type="hidden" id="pizza_topping_id">
                        <div class="col-md-6">
                            <input id="new_edited_pizza_topping" type="text" placeholder="Enter Your New Pizza Topping"
                                class="form-control btn-rounded" required>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <button type="button" onclick="editPizzaTopping()" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal for edit pizza Topping end -->

    <!-- The Modal for delete pizza size start -->
    <div class="modal fade" id="delete_pizza_topping">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Delete</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure you want to delete this record?<br>
                </div>
                <input type="hidden" id="delete_pizza_topping_id" value="">
                <button type="submit" style="width:7rem;margin-left: 12rem;margin-bottom: 1rem;"
                    onclick="delete_Pizza_topping_API();" class="btn btn-primary btn-blue rounded-pill m-submit">
                    Delete
                </button>
                <button type="submit" style="width:7rem;margin-left: 12rem;margin-bottom: 1rem;"
                    class="btn btn-primary btn-blue rounded-pill m-submit" data-dismiss="modal" aria-label="Close">
                    Cancel
                </button>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
    </div>
    <!-- The Modal for delete pizza size end -->



    <!-- Massage start -->
    <div class="modal fade" id="messageModel">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="messageBody">
                </div>


                <div class="text-center" style="margin: 1rem;">
                    <button type="submit" onclick="location.reload();"
                        class="btn btn-primary btn-blue rounded-pill m-submit">
                        OK
                    </button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                </div>

            </div>
        </div>
    </div>
    <!-- Massage End -->

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
        <h4>Pizza store</h4>
    </footer>
</body>
<script>
    /*
        @#########    
        This is Pizza Type Start
        @#########  
    */
    //***********add neww pizza type start********
    function addNewPizzType() {
        var pizztype = document.getElementById("add_new_pizza_type_val").value;
        console.log(pizztype)
        if (pizztype) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#add_new_pizza_type').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("New Pizza Type have been created Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'createPizzaType' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "name": pizztype }));
        } else {
            document.getElementById("add_new_pizza_type_val").style.borderColor = "red"
            return;
        }
    }
    //***********add neww pizza type end********

    //***********open pizza type model start********
    function openeditpizzatypeModel(id, name) {
        console.log(id, " ", name)
        if (id && name) {
            document.getElementById('pizza_type_var').innerHTML = name;
            document.getElementById('pizza_type_id').value = id;
            $('#edit_pizza_type').modal('show')
        }
        else {
            return;
        }
    }

    function editPizzType() {
        var pizza_id = document.getElementById('pizza_type_id').value;
        var pizza_name = document.getElementById('new_edited_pizza_type').value;
        if (pizza_id && pizza_name) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#edit_pizza_type').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Pizza have been Edited Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'editpizzatype' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "pizza_type_id": pizza_id, "pizza_type_name": pizza_name }));
        } else {
            document.getElementById("new_edited_pizza_type").style.borderColor = "red"
            return;
        }
    }
    //***********open pizza type model end********

    function deletePizzaType(id) {
        console.log(id)
        if (id) {
            document.getElementById('delete_pizza_type_id').value = id;
            $('#delete_pizza_type').modal('show')
        }
        else {
            return;
        }
    }

    function delete_Pizza_Type_API() {
        var pizza_type_id = document.getElementById('delete_pizza_type_id').value;
        console.log("delete func ", pizza_type_id)
        if (pizza_type_id) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#delete_pizza_type').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Pizza have been Deleted Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'deletepizzatype' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "pizza_type_id": pizza_type_id }));
        } else {
            return;
        }
    }

    /*
    @#########  
      This is Pizza Size
    @#########  
    */

    //***********add neww pizza Size start********
    function addNewPizzSize() {
        var pizzasize = document.getElementById("add_new_pizza_size_val").value;
        // console.log(pizztype)
        if (pizzasize) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#add_new_pizza_size').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("New Pizza Type have been created Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'createPizzaSize' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "name": pizzasize }));
        } else {
            document.getElementById("add_new_pizza_size_val").style.borderColor = "red"
            return;
        }
    }
    //***********add neww pizza type end********

    //***********open pizza size model start********
    function openeditpizzasizeModel(id, name) {
        // console.log(id, " ", name)
        if (id && name) {
            document.getElementById('pizza_size_var').innerHTML = name;
            document.getElementById('pizza_size_id').value = id;
            $('#edit_pizza_size').modal('show')
        }
        else {
            return;
        }
    }

    function editPizzaSize() {
        var pizza_id = document.getElementById('pizza_size_id').value;
        var pizza_name = document.getElementById('new_edited_pizza_size').value;
        if (pizza_id && pizza_name) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#edit_pizza_size').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Pizza have been Edited Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'editpizzasize' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "pizza_size_id": pizza_id, "pizza_size_name": pizza_name }));
        } else {
            document.getElementById("new_edited_pizza_size").style.borderColor = "red"
            return;
        }
    }
    //***********open pizza size model end********

    function deletePizzaSize(id) {
        console.log(id)
        if (id) {
            document.getElementById('delete_pizza_size_id').value = id;
            $('#delete_pizza_size').modal('show')
        }
        else {
            return;
        }
    }

    function delete_Pizza_size_API() {
        var pizza_size_id = document.getElementById('delete_pizza_size_id').value;
        if (pizza_size_id) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#delete_pizza_size').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Pizza have been Deleted Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'deletepizzasize' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "pizza_size_id": pizza_size_id }));
        } else {
            return;
        }
    }


    /*
    @#########  
      This is Pizza Toppings
    @#########  
    */
    //***********add neww pizza Size start********
    function addNewPizzTopping() {
        var pizzatopping = document.getElementById("add_new_pizza_toppings_val").value;
        // console.log(pizztype)
        if (pizzatopping) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#add_new_pizza_topping').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("New Pizza Type have been created Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'createPizzaToppings' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "toppings": pizzatopping }));
        } else {
            document.getElementById("add_new_pizza_toppings_val").style.borderColor = "red"
            return;
        }
    }
    //***********add neww pizza type end********


    //***********open pizza toping model start******
    function openeditpizzatoppingsModel(id, name) {
        console.log(id, " ", name)
        if (id && name) {
            document.getElementById('pizza_topping_var').innerHTML = name;
            document.getElementById('pizza_topping_id').value = id;
            $('#edit_pizza_topping').modal('show')
        }
        else {
            return;
        }
    }

    function editPizzaTopping() {
        var pizza_id = document.getElementById('pizza_topping_id').value;
        var pizza_name = document.getElementById('new_edited_pizza_topping').value;
        if (pizza_id && pizza_name) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#edit_pizza_topping').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Pizza have been Edited Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'editpizzatoppings' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "pizza_toppings_id": pizza_id, "toppings": pizza_name }));
        } else {
            document.getElementById("new_edited_pizza_topping").style.borderColor = "red"
            return;
        }
    }
    //***********open pizza size model end********

    //***********open pizza toping model start******
    function deletePizzaTopping(id) {
        console.log(id)
        if (id) {
            document.getElementById('delete_pizza_topping_id').value = id;
            $('#delete_pizza_topping').modal('show')
        }
        else {
            return;
        }
    }

    function delete_Pizza_topping_API() {
        var pizza_topping_id = document.getElementById('delete_pizza_topping_id').value;
        if (pizza_topping_id) {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    $('#delete_pizza_topping').modal('hide')
                    resp = JSON.parse(this.responseText).Status;
                    if (resp == "Success") {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Pizza have been Deleted Successfully.");
                        $('#messageModel').modal('show')
                    } else {
                        $('#messageHeader').html("");
                        $('#messageBody').html("Something went wrong please try again later.");
                        $('#messageModel').modal('show')
                    }
                }
            };
            xmlhttp.open("POST", "{% url 'deletepizzatoppings' %}", true);
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "pizza_toppings_id": pizza_topping_id }));
        } else {
            return;
        }
    }



    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

</html>